* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: serif;

}

main {
    min-height: 100vh;
    max-width: 100vw;
    overflow: hidden;
    background-color: #F5EFFF;
}

#welcome {
    height: 50px;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
    background-color: #A594F9;
    padding: 0 2rem;
    color: #fff;
    font-size: 1.25rem;
    font-weight: 800;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border-bottom: 2px solid #F5EFFF;
}

#profile-section {
    height: 100%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: start;
    gap: 1rem;
    padding: 0 1rem;
    /* background-color: #fff; */
}

#top-buttons {
    background-color: #A594F9;
    width: 100vw;
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 2rem;
}

.action-buttons {
    text-decoration: none;
    color: #fff;
    width: 100px;
    height: 35px;
    background-color: #433878;
    /* background: linear-gradient(175.6deg, rgb(5, 85, 84) 2%, rgb(64, 224, 208) 98.1%); */
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #A594F9;
    border-radius: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
}

.action-buttons:hover {
    /* background: linear-gradient(to top, #9be15d 0%, #00e3ae 100%);
        */
    background-color: #A594F9;
    border: 2px solid #fff;
}

#logout {
    /* background-color:  */
    /* background: linear-gradient(98.3deg, rgb(0, 0, 0) 10.6%, rgb(255, 0, 0) 97.7%); */
    background-color: #ff0000;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}

#logout:hover {
    background: linear-gradient(111.4deg, rgb(246, 4, 26) 0.4%, rgb(251, 139, 34) 100.2%);
}

#actions {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 80%;
}

#profile-image {
    height: 30px;
    width: 30px;
    border: 1px solid #433878;
    border-radius: 50%;
}

#create-class {
    height: max-content;
    /* background-color: #CDC1FF; */
    border-bottom: 2px solid transparent;
    /* border-top: 2px solid white; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.75rem 5rem;
    gap: 1rem;
    font-weight: 600;
    color: #fff;

}

.operation-butons {
    display: flex;
    align-items: center;
    justify-content: center;
    width: max-content;
    height: max-content;
    padding: 5px 20px;
    text-decoration: none;
    border: 2px solid transparent;

}

#create-button {
    background: #A594F9;
    color: #fff;
    border-radius: 5px;
}

#create-button:hover {
    background-color: #7E60BF;
    border: 2px solid #000;
}

#refresh-button {
    background: #A594F9;
    color: #fff;
    border-radius: 5px;
}

#refresh-button:hover {
    background-color: #7E60BF;
    border: 2px solid #000;

}

#data {
    width: 100vw;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: start;
    /* background-color: #000; */
    margin-top: 1rem;
}

.table-wrapper {
    overflow-x: auto; /* Enable horizontal scroll on small screens */
    -webkit-overflow-scrolling: touch; /* Smooth scrolling for mobile */
  }

table {
    width: 90%;
    border-collapse: collapse;
    border: 2px solid black;
    table-layout: fixed;

}

td {
    max-width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

thead {
    border: 2px solid black;
    background-color: #433878;
    color: white;
    font-size: 1rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
}

.class-row {
    background-color: #E4B1F0;
    text-align: center;
    font-size: 15px;
    font-weight: 600;
    border-collapse: collapse;
    border-bottom: 2px solid black;
    color: #433878;
}

.class-row:nth-child(even) {
    background-color: #FFE1FF;
}


.class-row:hover {
    background-color: #7E60BF;
    color: #fff;
}

.class-actions {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    padding: 5px;
    /* background-color: #000; */


}

.class-actions a {
    text-decoration: none;
    /* color: #fff; */
    /* border: 2px solid black; */
    padding: 3px 5px;
    font-weight: 600;
    font-size: 12px;
    border-radius: 2px;
    height: 50;
    width: 70px;


}

.view-option-btn {
    background-color: #00ff00;
    color: #000;


}

.update-btn {
    background-color: #ffff00;
    color: #433878;


}

.delete-btn {
    background-color: #FF0000;
    color: #fff;

}

@media only screen and (max-width: 600px) {

    #welcome,
    #profile-section {
        font-size: 0.85rem;
        flex-direction: row;
    }

    .action-buttons {
        font-size: 10px;
        width: 50px;
        height: 25px;
        /* background: #28a745; */
        padding: 0.25rem 1rem;


    }

    #logout {
        background: #dc3545;
    }

    table {
        width: 100%;

    }

    td {
        padding: 10px;
        border: 1px solid #ccc;
        text-align: left;
        word-wrap: break-word;
        max-width: 100px;
        
        }


    .class-row {
        font-size: 8px;

    }

    .class-actions {
        flex-direction: column;
        align-items: start;
        justify-content: center;
        /* max-width: 100px; */
        /* margin-left: 10px; */
        /* background-color: #000; */
        gap: 10px;
    }
    .table-wrapper {
        margin: 0 -15px; /* Adjust for small padding on sides */
      }
}